In [1]:
import pandas as pd
import numpy as np
from numpy import NaN

# Создадим датафрейм с пропущенным значением признака Р для объекта А
df = pd.DataFrame({'P1':[3,5,4,5], 'P2':[4,5,3,4], 'P3':[5,5,3,3], 'P4':[3,4,2,3], 'P':[4,3,5,NaN]}, 
                  index=['A1', 'A2', 'A3', 'A'])

In [2]:
df

    P1  P2  P3  P4    P
A1   3   4   5   3  4.0
A2   5   5   5   4  3.0
A3   4   3   3   2  5.0
A    5   4   3   3  NaN

In [64]:
dict_metric = {'A1':[], 'A2':[], 'A3':[]}

In [65]:
for index in df.index[:-1]:
    dict_metric[index].append(np.power((df.loc['A'][:-1]-df.loc[index][:-1]).pow(2).sum(), 0.5).round(2)) # Евклид
    dict_metric[index].append((df.loc['A'][:-1]-df.loc[index][:-1]).abs().sum()) # Манхеттен
    dict_metric[index].append((df.loc['A'][:-1]-df.loc[index][:-1]).abs().max()) # MAX-метрика

In [66]:
metrics = pd.DataFrame(dict_metric, index=['Euclid', 'Manhatten', 'Max'])

metrics

             A1    A2    A3
Euclid     2.83  2.45  1.73
Manhatten  4.00  4.00  3.00
Max        2.00  2.00  1.00

In [85]:
ratios = {'Euclid': [], 'Manhatten': [], 'Max': []}

# for i in metrics:
#     normal = 1/(1/metrics.loc[i]).sum()
for i in metrics.index[:]:
    normal = 1/((1/metrics.loc[i]).sum())
    main_part = (df.loc[:]['P'][:-1]/metrics.loc[i]).sum()
    ratios[i].append((main_part*normal).round(2))
    print(f'значение признака P для А по метрике {i}: {(main_part*normal).round(2)}')

значение признака P для А по метрике Euclid: 4.13
значение признака P для А по метрике Manhatten: 4.1
значение признака P для А по метрике Max: 4.25